header {
  padding: 12px;
  position:fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.color{
  /* background-color: #b8ffce; */
  padding: 8px;
  margin-top: 12px;
  border: 1px 0px solid black;
}

.Links{
  font-family: inherit;
  text-align: center;
  color: black;
}

.Links:active{
  color:  #0f7dfa;
}

.Links:hover{
  text-decoration: underline;
  border-bottom: 1px solid  #0f7dfa;
}

#header-image{
  width: 50px;
  height: 50px;
}

@media(min-width: 601px){
  .color{
    float: right;
    margin-right: 5%;
  }
  #head{
    font-size: 22px;
    font-weight: bold;
  }
  #subhead{
    font-size: 14px;
  }
  .Links{
    font-size: 15px;
    margin: 15px;
  }
}

@media(max-width: 600px){
  .color{
    width: 320px;
    margin: auto;
  }
  #head{
      font-size: 17px;
      font-weight: bold;
      margin-top: 15px;
  }
  #subhead{
    font-size: 10px;
  }
  .Links{
    font-size: 12px;
    margin: 10px;
  }
}

#head, #subhead{
  text-align:left;
  margin-left:15px;
  color: "black";
  font-family: inherit;
}
#header-image{
  float: left;
  margin-left: 15px;
  margin-top: 7px;
  margin-right: 15px;
}
