    .Links
  {
  font-size: 17px;
  font-family: inherit;
  text-align: center;
  color: black;
  margin: 15px;
  }
.Links:active
{
  color:  #0f7dfa;
}
.Links:hover
  {
    text-decoration: underline;
    border-bottom: 1px solid  #0f7dfa;
  }
  #para
  {
    font-size: 15px;
    font-family:cursive;
    margin: 15px;
  }
#head, #subhead
{
  text-align: center;
  color: "black";
  font-family: inherit;
}
#head
{
    font-size: 25px;
    font-weight: bold;
}
#subhead
{
  font-size: 15px;
  font-weight: normal;
}
