.text{
    text-align: center;
    font-size: 2.5em;
    color: rgb(230, 77, 103);
}

.list-group{
    padding-right: 5px;
}

.chartclass{
    width:100%;
}

.stats .header {
    color: rgb(65, 6, 80);
    text-align: center;
    font-size: 1.2em;
}

.stats .card {
    width: 50%;
    box-sizing: "border-box";
    margin: 'auto';
    margin-top: '15px';
}