.text{
    text-align: center;
    color:#EF4F5E;
    font-weight: bold;
    font-size: 2.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-group{
    padding-right: 5px;
}

.chartclass{
    width:100%;
}

.stats h2 {
    text-align: center;
    color: green;
    font-family: 'Grenze Gotisch', cursive;
}

.stats .card {
    width: 50%;
    box-sizing: "border-box";
    margin: 'auto';
    margin-top: 15px;
}


.contributor-list .designation {
    color: green;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 0.8em;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
}

.count-stats {
    font-weight: bolder;
    text-align: center;
}

.count-stats .number {
    font-size: 3em;
}

.table-head {
  color: #EF4F5E;
  font-size: 1.5em ;
  font-family: 'Grenze Gotisch', cursive;
  margin-top: 1px;
  position: fixed;
}

