.SmallContributeButton {

}

.SmallContributeButton a {
  font-family: "DroidArabicKufi","Roboto","Helvetica", "Arial", sans-serif !important;
  background-color: #ef4f5e;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  display: inline;
  width: 100%;
  text-decoration: none;
}

.SmallContributeButton a:hover {
  transition: .5s;
  color: white;
  text-decoration: none;
  background-color: #e03646;
}
