footer{
    color:white;
    background-color: #000;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Quoterow {
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    margin: 32px ;
}

.copyright {
    text-align: center;
    margin: 32px;
    font-size: 1.2em;
}

footer li {
    line-height: 1.8em;
    font-size: 1.2em;
    color: white;
    margin-left: 16px;
}

footer a {
    text-decoration: none !important;
    color: white;
}