.ContributeButton{
    width: 350px;
    max-width: 80%;
  }
  
  @media(min-width: 601px){
    .ShareYourStoryButton{
      font-size: 15px;
    }
  }
  
  @media(max-width: 600px){
    .ShareYourStoryButton{
      font-size: 12px;
    }
  }
  
  .ShareYourStoryButton a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    background-color: #e93973;
    text-align: center;
    padding: 10px 10px;
    font-family: 'aileronbold';
    font-size: 20px;
    color: black;
    border-radius: 10px;
  }
  
  .ShareYourStoryButton a:hover {
    transition: .5s;
    background-color: #e93973;
    color: black;
    text-decoration: none;
  }
  
  .ShareYourStoryButton a .icon-favourite:before{
    content: "\e87d";
    color: black;
  }
  
  .padding-right-14{
    padding-right: 20px;
  }
