#sc-testimonials {
  text-align: center;
}

#sc-testimonials h3{
  margin-bottom: 2em;
} 

div.CommentCard{
  border-radius: 8px;
  border-width: thin;
  border-color:black;
  margin: 1px;
  padding: 8px;
}

.image{
  width: 200px;
  height: 130px;
}

.title{
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  margin-left: 9px;
}

.subtitle{
  font-family:inherit;
  font-size: 13px;
  margin-left: 9px;
}

.para{
  font-family:cursive;
  font-size: 13px;
  margin: 9px;
}

.ShareYourStoryButton {
  font-size: 1.3em;
}

.ShareYourStoryButton a {
  width: 400px;
  color: #e93973;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin-top: 30px;  
  font-family: cursive;
  border-radius: 8px;
  border: 2px solid #fff;
}

.ShareYourStoryButton a:hover {
  transition: .3s;
  border: 2px solid #e93973;
  color: #e93973;
  text-decoration: none;
}

.ShareYourStoryButton a .icon-favourite:before{
  content: "\e87d";
  color: black;
}

.padding-right-14{
  padding-right: 20px;
}