<<<<<<< HEAD
.CommentCard{
  border-radius: 10px;
  border-color:black;
  height: 380px;
  width: 300px;
  margin: 1px;
  border-width: thin;
}

.image{
  width: 200px;
  height: 130px;
}

.title{
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  margin-left: 9px;
}

.subtitle{
  font-family:inherit;
  font-size: 13px;
  margin-left: 9px;
}

.para{
  font-family:cursive;
  font-size: 13px;
  margin: 9px;
}
=======
.card{
    background-color:"black";
    border-radius: 8px;
    border-width: thin;
    border-color: whitesmoke;
    margin: 1px;
    padding: 16px 32px;
}
>>>>>>> c05a2ba3f60b232f1f55e2cef2d6b796d7015ef1
