#sc-media hr {
  background-color: orange;
  width: 100%;
}

#sc-media .date {
  color: purple;
  margin-bottom: 4px;
}

#sc-media .newsIcon {
  width: 30px;
  height: 30px;
  margin: 0px 8px 8px 0px;
}