#sc-media .date {
  color: green;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 4px;
  font-size: 1.2em;
}

#sc-media h2 {
  text-align: center;
  color: green;
  font-family: 'Grenze Gotisch', cursive;
}

#sc-media .newsIcon {
  width: 30px;
  height: 30px;
  margin: 0px 8px 8px 0px;
}

#sc-media p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}