#sc-media .date {
  color: purple;
  margin-bottom: 4px;
}

#sc-media h2 {
  text-align: center;
  color: green;
  font-family: 'Grenze Gotisch', cursive;
}

#sc-media .newsIcon {
  width: 30px;
  height: 30px;
  margin: 0px 8px 8px 0px;
}