.layout {
    text-align: center;
}

.header p{
  width: 60%;
  height: auto;
  text-align: center;
  color: blueviolet;
}

.header {
  /* background: url(./iitd3.jpg) no-repeat center center fixed; */
  width: 100%;
  height: 604px;
  /* background: url(./iitd3.jpg); */
    background-color:rgb(179, 234, 248);
    color: rgb(13, 2, 44);
    font-size: xx-large;
    font-family: 'tradegothiclt-bold', sans-serif;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color:yellow;}
    to {background-color: rgb(179, 234, 248);}
}

.iitd{
  width: 100%;
  height: auto;
}

.layout-iitdLogo{
    position:fixed;
	top:0;
	left:0;
    /* position: relative;
    float: left; */
   
    margin: 75px 15px 15px 10px;

}

.layout-ainaLogo {
    position:fixed;
	top:0;
	right:0;
    float: right;
    /* position: relative;  */
    margin: 75px 15px 15px 10px;
}

body{
    background-color: rgb(179, 234, 248);
}

.footer{
    float: inline-end;
}


.header h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em  yellow; The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    position: relative;
  }
  
  /* The typing effect */
 @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
   
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  /* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(180, 16, 44);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    /* background-color: rgb(223, 12, 65); */
    color: black;
    text-align: center;
    padding: 5px 12px;
    text-decoration: black;
    font-size: 17px;
    margin: 10px 15px 10px 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:yellow;
    margin: 5px 15px 15px 10px;
    color: black;
  }
/*   
 Add a color to the active/current link
  .topnav a.active {
     background-color:white; 
     color: black;
    margin: 5px 15px 15px 10px; 
    padding-right: 5px;

  } */
   