.carouselImgClass { 
  height:600px;
  align-items: center;
  margin-left: 10px;
  margin-right: 0px;
}

.carouselItemClass h2{
  color: rgb(7, 6, 71);
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: 500;
}
