.aboutbeneficiaries h2 {
  text-align: center;
  color: green;
  font-family: 'Grenze Gotisch', cursive;
}

.details  {
  text-align: center;
  word-wrap: break-word;
}

.list-head{
  color: #EF4F5E;
  font-size: 1.5em ;
  font-family: 'Grenze Gotisch', cursive;
  margin-top: 1px;
}

.listclass .designation{
  color: green;
  font-weight: bolder;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
  height: 12px;
  width: 7px;
  background:whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: #9e1c66;
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-corner {
  background: #611717;
}

