.ContributeButton{
  width: 350px;
  max-width: 80%;
}

@media(min-width: 601px){
  .ContributeButton{
    font-size: 15px;
  }
}

@media(max-width: 600px){
  .ContributeButton{
    font-size: 12px;
  }
}

.ContributeButton a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  background-color: #EF4F5E;
  text-align: center;
  padding: 10px 10px;
  font-family: 'aileronbold';
  font-size: 20px;
  color: black;
  border-radius: 10px;
}

.ContributeButton a:hover {
  transition: .5s;
  background-color: #EF4F5E;
  color: black;
  text-decoration: none;
}

.ContributeButton a .icon-favourite:before{
  content: "\e87d";
  color: black;
}

.padding-right-14{
  padding-right: 20px;
}

.SmallContributeButton a {
  font-family: "DroidArabicKufi","Roboto","Helvetica", "Arial", sans-serif !important;
  background-color: #ef4f5e;
  color: white;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  display: inline;
  text-decoration: none;
}

.SmallContributeButton a:hover {
  transition: .5s;
  color: white;
  text-decoration: none;
  background-color: #e03646;
}

.RazorpayButton{
  margin: auto;
  width: 260px;
  max-width: 80%;
}

.BigContributeButton a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  background-color: #EF4F5E;
  text-align: center;
  padding: 10px;
  font-family: 'aileronbold';
  font-size: 20px;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  font-family: 'Roboto', sans-serif;
}

.BigContributeButton a:hover {
  transition: .s;
  background-color: white;
  color: #EF4F5E;
  border: 2px solid #EF4F5E;
  text-decoration: none;
}

.BigContributeButton a .icon-favourite:before{
  content: "\e87d";
  color: black;
}

.padding-right-14{
  padding-right: 20px;
}
