.target {
  display: block; 
  content: " "; 
  margin-top: -140px; 
  height: 140px; 
  visibility: hidden; 
  pointer-events: none;
  scroll-behavior: smooth; 
}

section {
  padding: 2% 4%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 12px 8%;
}

.page-container{
  display: flex;
  flex-direction: column;
}

hr {
  border: 0 !important;
  height: 2px !important;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 165, 0, 1), rgba(255, 255, 255, 0)) !important;
}

@media(max-width: 340px){
  html {
    font-size: 0.85em;
  }
}