body {
  width: 100%;
<<<<<<< HEAD
  margin: 0;
=======
>>>>>>> 0526f900e0af1ef3f1b1f2eeb5798ad576e8ee9d
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b, strong {
  font-weight: bold;
}