#sc-about {
  margin-top: 5%;
  padding: 10px;
}

.aboutcard {
  padding: 12px;
  margin: 0px 10px;
  height: 600px;
}

.aboutheading {
  font-weight: bold;
  color: #FF9F1C;
  font-size: 1.8em;
  font-stretch: wider;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutcontent {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
}

