#sc-about {
  background-image: url(../../Assets/iitd5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* 
@media(max-width: 600px) {
  #sc-about .iitd-carousal {
    display: none;
  }
} */

.aboutcard {
  margin: 0px 2%;
}

.aboutheading {
  color: #EF4F5E;
  font-size: 2em;
  font-stretch: wider;
  text-align: center;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Grenze Gotisch';
}

.aboutcontent {
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}


