<<<<<<< HEAD
.about {
  background-color: #f9f9f9;
  padding: 32px 0px;
}
=======
#sc-about {
  margin-top: 5%;
  padding: 10px;
}

.aboutcard {
  padding: 10px;
  margin: 0px 10px;
  height: 600px;
}

.aboutheading {
  font-weight: 400;
  color: orange;
  font-size: 2em;
  font-stretch: wider;
}

.aboutcontent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
}

.aboutcard h4 {
  color: blueviolet;
  text-align: center;
}
>>>>>>> 0526f900e0af1ef3f1b1f2eeb5798ad576e8ee9d
