.FormFeedback{
  margin: 16px 8px;
}

.FormFeedback a{
  display: inline-block;
  max-width: 250px;
  text-align: center;
  background-color: green;
  color: white;
  padding: 16px;
  border-radius: 4px;
  text-decoration: none;
}

.FormFeedback a:hover{
  background-color: darkgreen;
  transition: .5s;
  color: white;
  text-decoration: none;
}
